<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Prizm.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="PrizmMain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Prizm.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="PrismDatabase" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=prism;Integrated Security=true" />
  </connectionStrings>

  <appSettings>
    <add key="ProjectName" value="ProjectName"   />
    <add key="WorkstationType" value="Master"   />
  </appSettings>
  
  <log4net>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <logger name="NHibernate" additivity="false">
      <level value="ERROR" />
    </logger>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\"/>
      <datePattern value="dd_MM_yyyy'.log'" />
      <param name="AppendToFile"  value="true" />
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  
  <userSettings>
    <Prizm.Main.Properties.Settings>
      <setting name="UsersLanguage" serializeAs="String">
        <value>ru-RU</value>
      </setting>
    </Prizm.Main.Properties.Settings>
  </userSettings>
</configuration>
